@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
--first-color: #322E34;
--first-font: 'Inter' , sans-serif;
}

*{
    font-family: var(--first-font);
}
nav{
    
}

/*cards*/
.donations {
    width: 100%;
    padding-top: 30px;
}

.donations h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 100px;
}

.donations > button {
    display: block;
    margin-left: 15%;
    margin-bottom: 50px;
    width: 85px;
    height: 25px;
    background: white;
    border: 1.5px solid #322E34;
    border-radius: 15px;
    font-size: 12px;
}

.flipContainer {
    width: 70%;
    margin:  40px auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: space-between;
    gap: 80px 150px;
}

.cardBox {    
    width: 100%;
    height: 400px;
    perspective: 800px;
    border-radius: 5px;

}

.cardBox:hover .card {
    transform: rotateY(180deg);
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.cardFront,
.cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    backface-visibility: hidden;
}

.cardFront {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cardFront img {
    width: 100%;
    height:300px;
    object-fit: cover;
    border-radius: 5px;
}

.cardFront h2 {
    margin: 10px 0 0;
    margin-left: 5px;
    color: #322E34;
    font-size: 22px;
    font-weight: 500;
}

.cardFront h3 {
    margin: 5px 0 0;
    margin-left: 5px;
    color: #5E5E5E;
    font-size: 18px;
    font-weight: 400;
}

.cardBack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    transform: rotateY(180deg);
    border-radius: 5px;
    border: 1px solid #322E34;
}


