@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
--first-color: #322E34;
--first-font: 'Inter' , sans-serif;
}

*{
    font-family: var(--first-font);
}

.navbar {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 80px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo img {
    width: 55px;
    height: 55px;
    object-fit: contain;
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #322E34;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.navLinks {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin-right: 25px;
}

.navLinks a {
    color: #322E34;
    text-decoration: none;
}

.navLinks a:hover {
    text-decoration: underline;
}

.login {
    background: none;
    border: 1px solid #322E34;
    border-radius: 20px;
    padding: 8px 18px;
    font-size: 14px;
    cursor: pointer;
}

.login:hover {
    background-color: #322E34;
    color: white;
}
